<div class="row">
    <div class="col-md-5">
        <app-packed-lunch-list 
            (packedLunchWasSelected)="packedLunchSelected = $event"
        ></app-packed-lunch-list>
    </div>
    <div class="col-md-7">
        <app-packed-lunch-details 
            *ngIf="packedLunchSelected; else info"
            [selectedPackedLunch]="packedLunchSelected"
        ></app-packed-lunch-details>
        <ng-template #info>
            <p>Por favor selecione uma marmita</p>
        </ng-template>
    </div>
</div>

